:root{
    --white: #fbf5f5;
    --black: #1e1f23;
    --gray: #525456;
    --blue: #001A49;
    --orange: #e6390e;
    --padding-container:s 100px 0;
    --color-title: #001A49;
    --color-hover: #f3f3f3;
} 
*{
    margin: 0;
    padding: 0;
}
body {
    background: #FEFEFE;
    font-family: "Poppins", sans-serif;
}
/* Menú */
.logo {
    float: left;
    padding: 10px 5px 10px 10px;
}
.menu{
    display: none;
}
header {
    width: 100%;
}
header nav {
    background-color: var(--white);
    width: 100%;
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: fixed;
    z-index: 100;
    text-align: right;
}
nav a {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: left;
}
nav ul {
    list-style: none;
    text-align: right;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li:hover {
    background:var(--color-hover);
}
nav ul li a {
    color: var(--blue);
    display: block;
    text-decoration: none;
    padding: 30px 6px;
}
nav ul li .children {
  display: none;
  position: absolute;
  background: var(--color-hover);
  text-align: left;
}
nav ul li:hover .children {
    display: block;
    width: 100%;
    text-align: left;
} 
nav ul li .children li {
    overflow: hidden;
    display: block;
    border-bottom:  rgb(234, 233, 233);
}
nav ul li .children li a {
    display: block;
    border-bottom:  1px solid rgba(210, 202, 202, 0.5);
}
nav ul li span {
    margin-right: 10px;
}
nav ul li .children li a span {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 0;
}
nav ul li .icon-chevron-small-down {
    position: relative;
    top: 3px;
    margin-left: 10px;
}
/* imagen principal */
.img-p {
    width: 100%;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
}
.title {
    color: var(--orange);
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 25px;
}
/* Modals misión y visión */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .modal-text {
    font-family: "Poppins", Verdana, sans-serif;
    line-height: 25px;
    text-align: justify;
    padding: 5px 10px;
  }
  .modal-subtitle {
    color: var(--color-title);
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .close, .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.Focus {
    text-align: center;
    margin: 50px 80px;
}
.cta {
    cursor: pointer;
    font-size: 1.4em;
    display: inline-block;
    background-color: var(--blue);
    justify-self: center;
    color: #fff;
    text-decoration: none;
    margin: 20px;
    padding: 13px 30px;
    border-radius: 32px;
    border: none;
}
/* testimony */
.testimony{
    background-color: rgba(187, 187, 216, 0.096);
    justify-content: center;
    padding: 50px 10px;
    margin-bottom: 20px;
}
.testimony__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 10% 10%;
}
.imgimg {
    width: 100%;
}
.testimony__texts{
    max-width: 800px;
    text-align: justify;
    line-height: 200%;
    font-size: 1.2em;
}

.testimony__course{
    color: #001A49;
    display: inline-block;
    padding: 8px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    body {
        padding-top: 80px;
    }
    /* menú responsive */
    .logo {
        display: none;
    }
    .menu {
        display: inline-block;
        width: 100%;
        position: fixed;
        top: 0;
        background: var(--white);
        box-shadow: 1px 1px 5px 0px var(--gray);
    }
    .menu .bt-menu {
        float: right;
        padding: 15px 10px;
        color: var(--blue);
        overflow: hidden;
        text-decoration: none;
    }
    .menu .img-menu {
        padding: 5px 10px;
    }
    .menu span {
        float: right;
        font-size: 40px;
    }
    header nav {
        width: 80%;
        height: 100%;
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
    }
    header nav ul {
        text-align: left;
    }
    header nav ul li {
        display:  block;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
    }
    header nav ul li a {
        padding: 12px;
        display: block;
        border-bottom:  1px solid rgba(210, 202, 202, 0.5);
    }
    header nav ul li .children {
        position: relative;
        width: 100%;
    }
    header nav ul li .children li a {
        margin-left: 20px;
    }
    header ul li .icon-chevron-small-down {
        float: right;
    }
    nav ul li:hover .children {
        display: none;
    }
    /* imagen principal */
    .img-p {
        margin: 0;
        width: 100%;
        display: inline-block;
    }
}

@import url('https://fonts.googleapis.com/css2?family-Poppins:wgth@300;400;700&display=swap');

